.box-list {
  $p-x: 20px;
  $p-y: 15px;
  border: 1px solid #eee;
  &__header {
    h3 {
      margin: 0;
      font-weight: normal;
      line-height: 1.1em;
      font-size: 1.5em;
    }
    padding: $p-y $p-x;
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: $p-x;
    }
    &::before {
      width: calc(100% - #{$p-x * 2});
      height: 2px;
      background-color: #eee;
    }
    &::after {
      width: $p-x * 2;
      height: 2px;
      background: slategrey;
    }

    i {
      position: absolute;
      right: $p-x;
      top: 50%;
      transform: translateY(-50%);
      padding: 5px;
    }
  }
  &__body {
    padding: $p-y/2 $p-x;
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 5px;
  }

  &__link {
    text-decoration: none;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    color: #565656;
    transition: .3s color;
    &:hover {
      text-decoration: underline;
      color: lighten($color: #565656, $amount: 15)
    }
  }
  &__count {
    padding: 0.25em;
    background-color: cornflowerblue;
    color: #fff;
    &--blue {
      background-color: lightblue;
    }
    &--brown {
      background-color: brown;
    }
    &--red {
      background-color: tomato;
    }
  }
}