<!-- Box list (category) box from https://jannah.tielabs.com/demo/ -->

<section class="box-list box-list--category">
  <header class="box-list__header">
    <h3>Category</h3>

    <i class="fa fa-folder-open-o" aria-hidden="true"></i>
  </header>
  <div class="box-list__body">
    <ul class="box-list__list">
      <li class="box-list__item">
        <a href="#" class="box-list__link">
          Life Style
          <span class="box-list__count box-list__count--blue">35</span>
        </a>
      </li>
      
      <li class="box-list__item">
        <a href="#" class="box-list__link">
          Gaming
          <span class="box-list__count box-list__count--red">17</span>
        </a>
      </li>
      
      <li class="box-list__item">
        <a href="#" class="box-list__link">
          communicate
          <span class="box-list__count box-list__count--yellow">09</span>
        </a>
      </li>
      
      <li class="box-list__item">
        <a href="#" class="box-list__link">
          Popular
          <span class="box-list__count box-list__count--brown">10</span>
        </a>
      </li>

    </ul>
  </div>
</section>